{% extends 'output/output_base.html' %}
{% load i18n %}

{% block title %}
    {% trans "データ出力" %}
{% endblock title %}

{% block headline %}
    {% trans "データ出力" %}
{% endblock %}

{% block lead_sentence %}
    {% trans "業績など様々なデータを任意のフォーマットで出力することができます．" %}
{% endblock %}

{% block content %}
    <div class="child_main_wrapper">
        <section class="bg-light py-5">
            <h2 class="mb-5 text-center">{% trans "最新の投稿" %}<small>（{{past|date:"Y/m/d" }} ~ {{new|date:"Y/m/d" }}）</small></h2>
                <div class="container-fluid">
                    <div class="list-group list-group-flush w-75 mx-auto" style="height:700px;overflow:auto;">
                        {% for x in object_list %}
                            <a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'output:format_form' %}?format_pk={{ x.pk }}" >
                                <div class="d-flex w-100 justify-content-between">
                                    <h4 class="mb-1">{{x.name}}</h4>
                                    <small>{{x.created_date}}</small>
                                </div>
                                <div class="tiny_font">
                                    <span class="badge badge-primary">{{ x.get_category_display }}</span>
                                </div>
                                <div class="text-right">
                                    <small>{{x.user.username}}</small>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
        </section>
    </div>
{% endblock content %}
