{% load i18n wiki_tags %}

<li class="pull-right">
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		sort
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li role="presentation"><a href="#">title</a></li>
		<li role="presentation"><a href="#">creator</a></li>
		<li role="presentation"><a href="#">created date</a></li>
		<li role="presentation"><a href="#">last modified date</a></li>
	</ul>
</div>
</li>

<li class="pull-right">
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		order
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li role="presentation"><a href="#">昇順</a></li>
		<li role="presentation"><a href="#">降順</a></li>
	</ul>
</div>
</li>


