{% extends 'public/public_kwatabe_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Kohei Watabe's Site -- Profile
{% endblock title %}

{% block nav_items %}
    <ul class="navbar-nav mr-auto">
    </ul>
{% endblock %}

{% block top_page %}
{% endblock %}

{% block app_css %}
    {{ block.super }}
{% endblock %}

{% block header_content %}
    <div class="header-background"></div>
    {% if background_image %}
        <img class="header-image" onload="AfterLoaded();" src="{% url 'picture:image' background_image.pk %}" alt="Background Image">
    {% else %}
        <img class="header-image" onload="AfterLoaded();" src="{% static 'public/image/default/default.jpg' %}" alt="Default Background Image">
    {% endif %}
    <div class="shade"></div>
    <div id="top" class="header-text block-negative">
        <div class="bottom-text">
            <h6 class="mr-4 ml-4 mb-0">Kohei Watabe's Site</h6>
            <h1 class="under_border mr-4 ml-4">Schedule</h1>
            <h6 class="mr-4 ml-4">{% if request.LANGUAGE_CODE == 'ja' %}スケジュール{% endif %}</h6>
            <div class="skip-arrow"><a href="javascript:void(0);" onclick="Scroll('#block1');"><i class="fas fa-angle-double-down"></i></a></div>
        </div>
    </div>
{% endblock %}

{% block pre-title %}
    Kohei Watabe's Site
{% endblock %}

{% block headline %}
    Schedule
{% endblock %}

{% block sub-title %}
    {% if request.LANGUAGE_CODE == 'ja' %}スケジュール{% endif %}
{% endblock %}
{% block content %}
    {% if limited_auth or login %}
        <div>
            <div>
                <div id="block1" class="contents-block">
                    <h2 class="under_border ml-4 mb-1 mr-4">Calender</h2>
                    <h6 class="ml-4 mr-4">{% if request.LANGUAGE_CODE == 'ja' %}カレンダー{% endif %}</h6>
                    <div class="ml-4 mr-4">
                        <div>
                            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23efefef&amp;ctz=Asia%2FTokyo&amp;src=d2tvdXcxMDgyQGdtYWlsLmNvbQ&amp;src=k_watabe%40vos.nagaokaut.ac.jp&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%234285F4&amp;color=%234285F4&amp;color=%23616161&amp;showTitle=0&amp;showTz=1&amp;showCalendars=0&amp;showTabs=1&amp;showNav=1" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                    <div class="bottom-text">
                        {% if login %}
                            <div class="skip-arrow"><a href="javascript:void(0);" onclick="Scroll('#block2');"><i class="fas fa-angle-double-down"></i></a></div>
                        {% else %}
                            <div class="skip-arrow"><a href="javascript:void(0);" onclick="Scroll('#top');"><i class="fas fa-angle-double-up"></i></a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if login %}
                <div class="block-negative">
                    <div id="block2" class="contents-block">
                        <h2 class="under_border ml-4 mr-4 mb-1 pt-4">Access Limited URL</h2>
                        <h6 class="ml-4 mr-4">{% if request.LANGUAGE_CODE == 'ja' %}時間限定公開URL{% endif %}</h6>
                        <div class="ml-4 mr-4">
                            <p>
                                以下のURLを共有することで，期間を限定してページへのアクセスを許可することができます．
                            </p>
                            <div class="mb-4">
                                <div>
                                    当日間限定公開URL
                                </div>
                                <div class="url">
                                    {{ key_list.0 }}
                                </div>
                            </div>
                            <div class="mb-4">
                                <div>
                                    {% trans "14日間限定公開URL" %}
                                </div>
                                <div class="url">
                                    {{ key_list.1 }}
                                </div>
                            </div>
                            <div class="mb-4">
                                <div>
                                    {% trans "30日間限定公開URL" %}
                                </div>
                                <div class="url">
                                    {{ key_list.2 }}
                                </div>
                            </div>
                            <div class="mb-4">
                                <div>
                                    {% trans "365日間限定公開URL" %}
                                </div>
                                <div class="url">
                                    {{ key_list.3 }}
                                </div>
                            </div>
                        </div>
                        <div class="bottom-text">
                            <div class="skip-arrow"><a href="javascript:void(0);" onclick="Scroll('#top');"><i class="fas fa-angle-double-up"></i></a></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}

{% block js %}
    {{ block.super }}
{% endblock %}
