{% extends 'paper/paper_base.html' %}
{% load i18n static %}

{% block title %}
    {% trans "論文誌登録" %}
{% endblock title %}

{% block headline %}
    {% trans "論文誌登録" %}
{% endblock %}

{% block lead_sentence %}
    {% trans "論文誌をデータベースに登録することができます．" %}
{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
{% endblock %}

{% block content %}
    <div class="child_main_wrapper">
        <div class="bg-light py-5">
            <form method="post" id="reportform" novalidate enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-7 ml-5">
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-danger btn-sm ml-5 mt-2" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
